

.navbar-nav .nav-item.dropdown:hover .nav-link.dropdown-toggle {
    background-color: rgb(197, 234, 234);
  
}

.navbar-nav .nav-item:hover {
    background-color: rgb(197, 234, 234);
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover{
    background-color: rgb(235, 224, 218);
    
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}



